body{
    background-color: #f9f9f9;
}
h1{
    color: #3ab34a;
}
.Navigation-bar{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 800px;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.250);
    border-radius: 8px;
    margin: 0 auto;
    overflow: hidden;
    
}
.dashboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    width:800px;
    height: 155px;
    margin: 10px auto;
    border: none;
}
#game{
    display: table-column;
    background-color: #fff;
    height: 160px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
     }
#game:hover{ 
background-color: #ccc;
}
.products{
    display: grid;
    padding: 20px 0;
    grid-template-rows: repeat(6,70px);
    gap: 50px;
    align-items: center;
    background-color:#fff;
    overflow-y: scroll;
    width: 800px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border-radius: 8px;
    overflow-y: scroll;
}
.plist{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 700px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    margin-top: 20px;
    margin-left: 40px;
    overflow: hidden;
}
.plist:hover{
    border: solid 2px #000;
}
#delete{
    background-color: #3ab34a;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: #fff;
}
#delete:hover{
    background-color: #078316f1;
}
.small-container{
    display: flex;
    width: 50px;
    height: 10px;
    background-color: #fff;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
     
   }
